{% extends 'base.html' %}
{% block contents %}  
<body>
              <div class="container"></div>
              <div class="card mt-4">
                    <div class="card-body">
                      <h5 class="card-title">{{detail.title}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{detail.pub_date}}</h6>
                      <p class="card-text">{{detail.body}}</p>
                      <a href="{% url 'home' %}" class="card-link">Home</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
                </div>
        
</body>
{% endblock %}